.page {
    @apply h-screen bg-black;
}

.bg {
    @apply h-full pt-24 bg-no-repeat bg-cover bg-[url(https://picsum.photos/720.webp?grayscale)] md:bg-[url(https://picsum.photos/1440.webp?grayscale)] lg:bg-[url(https://picsum.photos/1920/1080.webp?grayscale)];
}

.banner {
    @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-40;
}

.banner_container {
    @apply container pt-16 pl-12;
    background: radial-gradient(ellipse at left top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 30%);
}

.title {
    @apply text-8xl font-bold text-gray-200;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slogan {
    @apply text-4xl text-gray-300 leading-tight pt-3;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}