.page {
    @apply h-screen bg-black;
}

.bg {
    @apply transition h-full pt-24 bg-no-repeat bg-cover w-full ease-in-out duration-700;
}

.banner {
    @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-40;
}

.banner_container {
    @apply container pt-16 pl-12 w-full h-full;
    background: radial-gradient(ellipse at left top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 42%);
}

.title {
    @apply transition pt-24 md:pt-0 text-5xl md:text-8xl font-bold text-gray-200 ease-in-out duration-300;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slogan {
    @apply text-left text-lg md:text-4xl text-gray-300 leading-tight pt-3 w-3/4 md:w-1/3;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}